html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

#container, #page {
  height: 100%;
  width: 100%; }

main-app {
  width: 100%;
  height: 100%; }
  main-app * {
    box-sizing: border-box; }
  main-app .hide {
    display: none; }
  main-app .show {
    display: block; }
  main-app .selected {
    cursor: default; }
  main-app basic-data-modifier {
    height: 100%;
    width: 100%; }
    main-app basic-data-modifier textarea {
      width: 90%;
      height: 90%;
      float: right; }
  main-app basic-data-list {
    float: left;
    width: 10%;
    height: 100%; }
    main-app basic-data-list ul {
      width: 100%;
      height: 100%; }
    main-app basic-data-list li {
      height: 20px; }
    main-app basic-data-list .selected {
      background-color: #187bea; }
  main-app ui-category-list-item, main-app ui-brand-list-item, main-app ui-question-list-item {
    width: 100%;
    height: 50px;
    position: relative; }
    main-app ui-category-list-item .icon, main-app ui-category-list-item .title, main-app ui-brand-list-item .icon, main-app ui-brand-list-item .title, main-app ui-question-list-item .icon, main-app ui-question-list-item .title {
      float: left; }
    main-app ui-category-list-item .icon, main-app ui-category-list-item .move-icon, main-app ui-brand-list-item .icon, main-app ui-brand-list-item .move-icon, main-app ui-question-list-item .icon, main-app ui-question-list-item .move-icon {
      width: 30px; }
    main-app ui-category-list-item .subcategory, main-app ui-category-list-item .title, main-app ui-brand-list-item .subcategory, main-app ui-brand-list-item .title, main-app ui-question-list-item .subcategory, main-app ui-question-list-item .title {
      padding-left: 50px; }
    main-app ui-category-list-item .title, main-app ui-brand-list-item .title, main-app ui-question-list-item .title {
      min-width: 60%; }
    main-app ui-category-list-item .hide-icon, main-app ui-brand-list-item .hide-icon, main-app ui-question-list-item .hide-icon {
      cursor: pointer; }
    main-app ui-category-list-item .hide-icon.hidden, main-app ui-brand-list-item .hide-icon.hidden, main-app ui-question-list-item .hide-icon.hidden {
      color: #ccc; }
  main-app .category-container {
    width: 100%;
    position: relative;
    height: 50px; }
  main-app .list-header h4 {
    text-transform: capitalize; }
