@import 'materialize.scss';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#container, #page{
	height: 100%;
    width: 100%;
}

main-app {
	width: 100%;
	height: 100%;

	* {
		box-sizing: border-box;
	}

	@import 'variables.scss';
	@import 'mixins.scss';
	@import 'utils.scss';
	@import 'animations.scss';

	@import 'components/ui-navbar.scss';
	@import 'components/brand-edit.scss';
	@import 'components/ui-listcontainer.scss';

	.list-header {
		h4 {
			text-transform: capitalize;
		}
	}

	p,div,span,h1,h2,h3,h4,h5,h6 {
		margin: 0;
		padding: 0;
	}
	a {
		text-decoration: none;
	}
}

@import 'components/browser-specific/ie.scss';