@import 'reset.scss';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}

#container, #page{
	height: 100%;
    width: 100%;
}

main-app {
	width: 100%;
	height: 100%;

	* {
		box-sizing: border-box;
	}

	@import 'variables.scss';
	@import 'mixins.scss';
	@import 'utils.scss';
	@import 'animations.scss';

	@import 'components/basicDataModifier.scss';
	@import 'components/basicDataList.scss';
	@import 'components/ui-category-listcontainer.scss';
	@import 'components/ui-category-listitem.scss';

	.list-header {
		h4 {
			text-transform: capitalize;
		}
	}
}

@import 'components/browser-specific/ie.scss';