brand-edit, category-edit, question-edit, settings-edit {
	.list-header {
		@extend .red, .lighten-2;
		@extend .white-text;
		padding-left: 120px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		margin-bottom: 0;
	}

	.list-footer {
		width: 100%;
		position: fixed;
		bottom: 0;
		margin-bottom: 0;
	}

	.list-footer .btn, .list-footer .btn-large {
		width: 50%;
		border-radius: 0px;
	}

	.list-footer .btn:first-child, .list-footer .btn-large:first-child {
		float: left;
	}
	.list-footer .btn:last-child, .list-footer .btn-large :last-child {
		float: right;
	}

	h4 {
		padding-top: 30px;
	}

	span {
		display: block;
		margin-bottom: 10px;
	}

	@media(max-width: 768px) {
		.list-header {
			padding-left: 70px;
		}
	}
}