$listItemHeight: 50px;

ui-category-list-item, ui-brand-list-item, ui-question-list-item {
	width: 100%;
	height: $listItemHeight;
	position: relative;

	.icon, .title {
		float: left;
	}

	.icon, .move-icon {
		width: 30px;
	}
	.subcategory .category-container, .title {
		padding-left: $listItemHeight;
	}

	.title {
		min-width: 60%;
	}

	.hide-icon {
		cursor: pointer;
	}

	.hide-icon.hidden {
		color: $inactiveIconColor;
	}
}

.category-container {
	width: 100%;
	position: relative;
	height: $listItemHeight;
}